body{
    margin: 0;
    font-family: 'Libre Baskerville', serif;
}
.navbar{
    display: flex;
    font-weight: 800;
    
}
.left{
    width: 25%;
    padding-left: 38px;
    margin-top: 15px;
}
.mid{
    width: 50%;
    font-size: 30px;
}
.right{
    width: 25%;
    font-size: 30px;
    /* padding-left: 30px; */
    text-align: center;
    margin-top: 28px;
    margin-left: 148px;
}
.right a{
    text-decoration: none;
}
Ul{
    display: flex;
    list-style: none;
}
ul li a{
    text-decoration: none;
    padding: 0 20px;
    color: rgb(71, 67, 67);
}
h1{
    color: rgb(65, 60, 60);
}
.yellow{
    color: orangered;
}
.first-page{
    display: flex;
    margin-left: 35px;
  
}

.top{
    background-image: url(images/shape/Frame\ 58.jpg);
}
.first-page h1{
    font-size: 72px;
    font-weight: 800;
   
}
.first-page p{
    font-size: 20px;
    margin-bottom: 65px;
}
.button{
    color: white;
    background-image: linear-gradient(orangered ,rgba(255, 68, 0, 0.603));
    border-radius: 30px;
    text-decoration: none;
    font-size: 20px;
    padding: 13px 40px;
    
}
.flexible{
    display: flex;
    background-image: url(images/shape/Frame\ 59.jpg);
    
}
.half-width{
    width: 50%;
    margin-top: 80px;
}
.half-width img{
    height:100%;
    
    margin-left: 160px;
}
.second p{
    font-size: 20px;
    /* padding-right: 130px; */
    margin-right: 20px;
    margin-top: 30px;
    margin-bottom: 65px;
}
.half-width h1{
    margin-top: 120px;
    font-size: 35px;
}
.recipie{
    text-align: center;
}
.recipie h1{
    font-size: 35px;
}
.recipie p{
    font-size: 18px;
}
.third-page{
    display: flex;
}
.products{
    width: 34%;
    margin: 30px 24px;
    border-radius: 20px;
    box-shadow:0px 5px 34px gray;
}
.products img{
    border-radius: 20px;
    margin: 30px;
}
.title{
    margin: 0 30px;
}
.followers{
    display: flex;
    text-align: center;
    box-shadow:0px 5px 34px gray;
    margin: 20px;
}
.fan{
    margin: 20px 165px;
}
.last-page{
    text-align: center;
    margin-top: 80px;
}
footer{
    margin-top: 40px;
    color:white;
    background-color:#0a0c24;
    text-align:  center;
    height: 250px;
    padding-top: 48px;
}